/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}
/*header*/
.site-init{
    background-image: url(img/header.jpg);
    height: 40vh;
    background-size: cover;
    color: white;

}