*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
h1{
    color: white;
}
/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    color:white;
}
/*main*/
main{
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 20px;
}